*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
<<<<<<< HEAD
      background-color: aqua;
=======
    background: blanchedalmond;
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
}

#container{
    width: 80%;
    margin: 0px auto;
<<<<<<< HEAD
    box-shadow: 0px 0px 10px gray;
    background: white;
}

#header{
    height: 150p;
    background: #F0F0F0;
=======
    box-shadow: 0px 0px 10px black;
    background: cornflowerblue;
}

#header{
    height: 140px;
    background: palegoldenrod;
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
<<<<<<< HEAD
}
#logo img{
    float: left;
    height: 100px;
=======

>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    color: blueviolet;
}
=======
    text-transform: uppercase;
    color: #a13939;
}
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
